@model IEnumerable<Northwind.Web.ViewModels.CategoryViewModel>
@using Northwind.Web.Helpers;
@{
    ViewData["Title"] = "Categories";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Image" asp-route-categoryId="@item.CategoryId">Image</a>
                @Html.Image(item.CategoryId)
            </td>
        </tr>
}
    </tbody>
</table>
