@model IEnumerable<Northwind.Web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>Supplier</th>
            <th>Category</th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Supplier.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Discontinued)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id ="@product.ProductId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
